<h1>This is the droid you were looking for</h1>


<img src="http://www.gravatar.com/avatar/<%= @user.gravtar_id %>" width = "210">


<h5> Username: <%=  @user.username   %></h5>
<h5> Name:     <%=  @user.name       %></h5>
<h5> Github_Id:<%=  @user.github_id  %></h5>
<h5> Company:  <%=  @user.company    %></h5>
<h5> Email:    <%=  @user.email      %></h5>
<h5> URL:      <%=  @user.url        %></h5>
<h5> Followers:<%=  @user.followers  %></h5>
<h5> Repos:    <%=  @user.repos      %></h5>


